# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock


# Vite
assets/dist/
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
